<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
</style>

<!-- Toolbar -->
<div class="toolbar" *ngIf="isMenuVisible" role="banner">
  <a routerLink="">Home</a>
  <a *ngIf="isadmin" routerLink="/user">Users</a>
  <div class="spacer"></div>
  <a routerLink="/login">Logout</a>
</div>

<div class="content" style="width: 100%;display: block;" role="main">
  <router-outlet></router-outlet>

</div>
