<br><br><br><br><br>
<mat-grid-list cols="2" rowHeight="2:1">
    <div style="text-align: center;">
        <h1>Weathering With You</h1>
        <br>
        <h2>Météo here to help you :)</h2>
    </div>
    <br>
    <mat-card class="card_content" style="text-align: center;">
        <mat-card-content>
            As you know the change in you, know the change in weather!
        </mat-card-content>
    </mat-card>
    <br><br>
    <div style="text-align: center;">
        <button routerLink="/weather" mat-raised-button color="primary">Get Started</button>
    </div>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="2:1">
    <div>
        <img src="./weather.gif" alt="">
    </div>
    
</mat-grid-list>
  

